<p-card
    pRipple
    [header]="detail.name | uppercase"
    [subheader]="detail.id | pokedexNumber"
    (click)="selectPokemon($event)"
    [ngClass]="{ selected: isDetailed }"
>
    <ng-template pTemplate="header">
        <img [alt]="detail.name" [src]="detail.sprite" />
    </ng-template>

    <div class="pokemon-types">
        @for (type of detail.types; track type) {
        <pokemon-type-component [typeInfo]="type" />
        }
    </div>

    @if (isDetailed) {
    <h5>Height {{ detail.height }}</h5>
    <h5>Weight {{ detail.weight }}</h5>
    }
</p-card>
