::ng-deep {
    .pokemon-type {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;

        img {
            width: 30px;
            height: 30px;
        }
    }
}
